# archivos
# Ignorar archivos de entorno
.env
# Ignorar archivos de entorno específicos de servicios
auth-service/.env
artist-service/.env
content-service/.env
history-service/.env
playlist-service/.env
streaming-service/.env
search-service/.env
subscription-service/.env

# Ignorar entornos virtuales de Python
**/.venv/
**/venv/
**/__pycache__/
artist-service/artist
auth-service/auth
content-service/content
history-service/history
playlist-service/playlist
streaming-service/streaming
search-service/search
subscription-service/subscription

#ignorar carpetas de __pycache__
artist-service/__pycache__/
auth-service/__pycache__/
content-service/__pycache__/
history-service/__pycache__/
playlist-service/__pycache__/
streaming-service/__pycache__/
search-service/__pycache__/
subscription-service/__pycache__/   